@media screen and (width < 576px) {
  .main-menu {
    display: none;
  }
  .humbrger {
    display: block;
  }
  .hero-content,
  .hero-text {
    width: 100%;
    text-align: center;
  }
  .hero .container {
    background-image: url("/images/hero-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: 350px 350px;
    background-position: bottom center;
    height: 770px;
  }
  .text-xxl {
    font-size: 2.5rem;
    text-align: center;
  }
  .hero-btn .btn {
    display: block;
    width: 100%;
    margin: 6px 0;
  }

  .text-xl {
    font-size: 1.9rem;
  }

  .video .video-p .btn {
    width: 100%;
    display: block;
    text-align: center;
  }
  .Testominals .Testominals-heading {
    text-align: center;
    width: 100%;
    font-size: 2rem;
  }
  .Testominals .Testominals-grid {
    grid-template-columns: 1fr;
  }
  .priciing .priciing-grid {
    grid-template-columns: 1fr;
  }
}
